.buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.social-login-button {
  width: 200px;
  height: 100px;
  background-color: orange;
  text-align: center;
  line-height: 100px;
}
